//colors
$color_chambray_approx: #315481;
$color_natural_gray_approx: #918e82;
$white: white;
$color_iceberg_approx: #d2edf4;
$color_humming_bird_approx: #d0edf5;
$color_mystic_approx: #e1e5f0;
$color_gallery_approx: #eee;
$color_suva_gray_approx: #888;
$color_alto_approx: #ddd;

//fonts
$font_0: sans-serif;

nav {
	margin-bottom: 12px;
	.brand-logo {
		padding-left: 12px;
	}
}

.dropzone {
		width: 200px;
		height: auto;
		border: 2px dashed rgb(102, 102, 102);
		border-radius: 5px;
		padding: 5px;

		.dropzone-text {
				padding: 8px;
				text-align: center;
		}
}
.chart {
		height: 300px;
		width: 100%;
}

.file-select {
	margin-top: 12px;
	font-size: 1.2vmin !important;
}

.menu-item {
	font-size: 1.2vmin !important;
}

#main-flexbox {
	display: flex;
}

#loading-file-flexbox {
	padding-left: 12px;
	display: flex;
	flex-direction: column;
}
